/* App.css */

.coin-app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.coin-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}

.coin-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  
}

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.coin {
  display: flex;
  align-items: center;
}

.coin img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


.coin h1 {
  font-size: 1.2rem;
}

.coin-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .coin-row {
    padding: 20px 0;
  }

  .coin img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  .coin h1 {
    font-size: 1.5rem;
  }

  .coin-price,
  .coin-volume {
    font-size: 1.2rem;
  }
}

.S_container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}

.S_header {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.S_text {
  text-align: center;
}

.S_underline {
  height: 2px;
  background-color: #333;
  margin: 10px 0;
}

.S_inputs {
  display: flex;
  flex-direction: column;
  

}

.S_input {
  margin-bottom: 15px;

}

.S_label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input_S {
  width: 100%;
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  
}

.S_button {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 50px; 
 
}

.signinlink , .signuplink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.signinlink p ,.signuplink p{
  margin-bottom: 10px; 
}

.signup_button, .signin_button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup_button:hover, .signin_button:hover {
  background-color: #45a049;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  
}
.navbar-links a:hover {
  color: #000000; 
  background-color: #fff;
  border-radius: 5px;
 

}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}


.navbar-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle span {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: #333;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}

/* details */

.details {
  display: flex;
  flex-wrap: wrap;
}

.detail {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}


@media (min-width: 768px) {
  .detail {
    width: 48%; 
  }
}

@media (min-width: 992px) {
  .detail {
    width: 31%; 
  }
}

/* details */

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
}
.details-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.detail h2 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.detail h1 {
  font-size: 1.5rem;
  margin: 10px;
}

.detail p {
  margin: 10px;
  color: #555;
}

.add-btn {
  display: block;
  width: 80px;
  margin: 20px auto 0; 
  padding: 10px;
  text-align: center;
  background-color: #068d37;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delet-btn{
  display: block;
  width: 50%;
  margin: 20px auto 0; 
  padding: 10px;
  text-align: center;
  background-color: #750505;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delet-btn:hover, .add-btn:hover {
  background-color: #555;
}


@media (min-width: 768px) {
  .detail {
    width: 48%; 
  }
}

@media (min-width: 992px) {
  .detail {
    width: 31%; 
  }
}

/* adddetails */

.add-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.add-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #068d37;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #056e2c;
}

@media (min-width: 768px) {
  .add-form {
    max-width: 600px;
  }
}
